/* ############################ */
/* ########## GLOBAL ########## */
/* ############################ */

:root {
    --bright-text: #f3f1e9;
    --bright-bg: #f3f1e9;
    --dark-text: #000;
    --dark-bg: #000;
    --standard-shadow: 0px 12px 4px 1px rgba(0, 0, 0, .3);
    --button-text-size: 18px;
    --small-button-text-size: 15px;
    --icons-size: 24px;
    --small-icons-size: 20px;
    --title-text-size: 30px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p, a, h1, h2, h3 {
    font-family: 'Lato', 'Raleway', 'Ubuntu', 'Sans-serif';
    color: var(--bright-text);
    white-space: nowrap;
    
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    font-weight: 100;
    line-height: 0.9em;
    letter-spacing: 0.15em;
}

h2 {
    font-size: 2em;
    font-weight: 100;
    line-height: 0.9em;
    letter-spacing: 0.2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--dark-text);
}

.site-font {
    font-family: 'Lato';
}

body {
    background-color: var(--dark-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
    box-shadow: none;

	border: none;
	padding: 0;

	font: inherit;
	cursor: pointer;
	outline: none; 
}

.pack-h {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}



/* ############################## */
/* ########## SPECIFIC ########## */
/* ############################## */

/* ########## SECTIONS ########## */

/* page container */

.frame {
    height: 100%;
    width: 100%;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

    transition: 0.5s ease-in-out;
}

section {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    scroll-snap-align: start;
}

.category-header {
    background-color: var(--bright-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 1em;

    border-top: 4px solid var(--dark-bg);
    border-bottom: 4px solid var(--dark-bg);
}


/* hero section */

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 100%;
    width: 100%;

    overflow: auto;
}

#hero-title-container {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 70%;
    width: 100%;

    border-bottom: 3px solid transparent;
    border-right: 4px solid transparent;

    animation: show-border 0.4s 0.4s forwards linear;
}

#hero-title-wrapper {
    max-height: 100%;

    -webkit-filter: blur(0.5rem);

    animation: unblur-title 0.5s forwards linear;
}

.hero-title {
    margin: 10px 0;
}

#name {
    /* text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; */
    letter-spacing: 0.4em;
}

#name:hover #name::after {
    transform: scaleX(1);
}

#expanding-desc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    height: 0px;

    transform: scaleY(0);

    overflow: hidden;

    animation: show-brackets 0.8s 0.5s forwards ease;
}

.bracket p {
    font-size: 8em;
    font-weight: 100;
    line-height: 0.9em;

    transform: translateY(-5%);
}

#expanding-desc {
    width: 0;

    overflow: hidden;

    animation: expand-brackets 0.7s 1.45s forwards linear;
}

.hero-title-div {
    position: relative;

    overflow: hidden;
}

.hero-side-panel {
    background-color: var(--bright-bg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

    flex-grow: 0;

    height: 0;
    width: 100%;

    padding: 0 30px;

    border-top: 0;
    border-left: 0;

    animation: grow-panel 0.8s 0.5s forwards ease-out;
}

.hero-button-rack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;

    height: auto;
    width: 100%;

    max-height: 50px;
    max-width: auto;

    /* border: 2px solid red; */
}

.hero-panel-button {
    height: 0;

    opacity: 0;

    border-radius: 50%;

    animation: show-button 1.4s forwards ease;
    transition: all 0.4s ease;
}

.hero-panel-button img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}

.hero-logo-cont {
    background-color: var(--dark-bg);

    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
    aspect-ratio: 1;

    border-radius: 50%;
}

.hero-logo {
    color: var(--bright-text);
    font-weight: 300;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hero-scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    aspect-ratio: 1;

    padding: 0.5em;

    border-radius: 50%;

    overflow: hidden;

    transition: all 0.5s ease;
}

#hero-scroll-img {
    height: 3em;

    opacity: 0;

    animation: animate-scroll 1.5s 2.3s forwards linear;
}


/* gallery */

.gallery-frame {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: visible;

    border-top: 4px solid var(--bright-bg);
}

.side-scroll {
    border: 1px solid red;
}

.gallery {
    background-color: var(--dark-bg);

    position: relative;
    
    display: flex;
    align-items: center;

    overflow-x: scroll;
    overflow-y: hidden;

    border: 1px solid gold;
    border-radius: 10px;
}

/* card */

.card-container {
    position: relative;

    aspect-ratio: 0.7 !important;

    -webkit-filter: brightness(1) blur(0);

    border-radius: 4%;
    
    transition: all 250ms ease;
    perspective: 1000px;
    transform-origin: left;
}

.highlighted~.card-container, .selected~.card-container {
    transform:translateX(5rem);
}

.coverable:not(:first-child) {
    margin-left: -5rem;
}

.card {
    position: relative;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    box-shadow: -1rem 0 3rem #000, 1rem 0 3rem #000;

    transition: transform 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    border-radius: inherit;

    overflow-y: hidden;
    backface-visibility: hidden;
}

/* card-front specific */

.card-front {
    background-color: green;

    transition: 500ms ease;
}

.card-content {
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3),
        hsl(0 0% 0% / 1)
    );
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 1px solid green;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    transform-origin: left;
    transition: transform 0.5s ease;

    overflow: hidden;
    z-index: 0;
}

.card-title {
    position: relative;

    width: max-content;
    max-width: 100%;

    margin-bottom: 10%;
}

.card-title::after {
    background: purple;

    content: "";
    position: absolute;

    height: 4px;
    width: 120%;

    left: -20%;
    bottom: 0;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;

    overflow: hidden;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.expand {
    border: 1px solid purple;
}


/* card-back specific */

.card-back {
    background-color: gold;

    justify-content: space-between;

    padding: 2% 3%;

    overflow-y: scroll; 

    transform: rotateY(180deg);
}

.exit {
    background-color: red;

    position: absolute;
    right: 4%;
    top: 5%;

    aspect-ratio: 1 !important;

    transition: all 0.5s ease;

    opacity: 1;
}

.project-title {
    position: relative;

    width: max-content;
    max-width: 100%;

    margin-bottom: 5%;

    border: 1px solid red;
}

.long-desc {
    position: relative;

    width: 100%;

    margin-bottom: 2%;

    border: 1px solid green;
}

.info-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    border: 1px solid blue;
}

.proj-status {
    display: flex;
    flex-direction: column;

    text-align: right;

    width: fit-content;
}



/* ############################## */
/* ########### MEDIA ############ */
/* ############################## */

/* ########## PHONES ########## */
@media only screen and (min-width: 0px) {

    /* hero-section */
    #hero-button-1 {animation-delay: 0.7s;}
    #hero-button-2 {animation-delay: 0.9s;}
    #hero-button-3 {animation-delay: 1.1s;}
    #hero-button-4 {animation-delay: 1.3s;}

    .hero-logo-big-cont {
        display: none;
    }

    .hero-logo-small-cont {
        height: 4em;

        opacity: 0;

        border: 2px solid var(--bright-bg);

        animation: show-logo 1s 1.3s forwards linear;
    }

    #hero-logo-small {
        font-size: 3em;
    }

    /* animations */

    /* Remove starting blur effect from the Hero title */
    @keyframes unblur-title {
        100% {
            -webkit-filter: blur(0);
        }
    }

    /* Handles the showing of the hero-title section border */
    @keyframes show-border {
        100% {
            border-bottom: 3px solid var(--bright-bg);
        }
    }

    /* Handles the height-gain of the square brackets */
    @keyframes show-brackets {
        80% {
            height: 9em;
        }
        100% {
            height: 9em;

            transform: scaleY(1);
        }
    }

    /* Handles the width-gain of the square brackets */
    @keyframes expand-brackets {
        0% {
            width: 0;
        }
        100% {
            width: 65%;
        }
    }

    /* Make the Hero-side-panel gorw */
    @keyframes grow-panel {
        100% {
            flex-grow: 1;

            padding: 30px 30px 0;

            border-top: 3px solid var(--dark-bg);
        }
    }
}

/* ########## NARROW PHONES ########## */
@media only screen and (max-width: 319px) {

    /* generic */
    h1, h2 {
        letter-spacing: normal;
    }

    
    /* animations */

    /* Handles the height-gain of the square brackets */
    @keyframes show-brackets {
        80% {
            height: 8em;
        }
        100% {
            height: 8em;

            transform: scaleY(1);
        }
    }
}

/* ########## LARGE PHONES ########## */
@media only screen and (min-width: 600px) {

    /* generic */
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 2em;
        letter-spacing: 0.15em;
    }


    /* page structure */
    .category-header {
        padding: 0.6em;
    }


    /* hero section */
    .bracket p {
        font-size: 8em;
    }

    .hero-logo-small-cont {
        height: 6em;
    }

    #hero-logo-small {
        font-size: 4.5em;
    }

    
    /* animations */

    /* Handles the height-gain of the square brackets */
    @keyframes show-brackets {
        80% {
            height: 8.5em;
        }
        100% {
            height: 8.5em;

            transform: scaleY(1);
        }
    }
}

/* ########## TABLET ########## */
@media only screen and (min-width: 768px) {

    /* generic */
    h1 {
        font-size: 3em;
    }


    /* hero section */
    .bracket p {
        font-size: 8em;
    }


    /* animations */

    /* Handles the height-gain of the square brackets */
    @keyframes show-brackets {
        80% {
            height: 8.5em;
        }
        100% {
            height: 8.5em;

            transform: scaleY(1);
        }
    }
    
}

/* ########## LAPTOP ########## */
@media only screen and (min-width: 1024px) {

    /* generic */
    h3 {
        font-size: 2.5em;
        letter-spacing: 0.2em;
    }


    /* page structure */
    .category-header {
        padding: 0.4em;
        white-space: 1;
    }


    /* hero section */
    #hero-section {
        flex-direction: row;
    }

    #hero-title-container {
        height: 100%;
        width: 70%;

        border-bottom: 0;

        animation: show-border 0.2s 1.45s forwards linear;
    }

    .hero-side-panel {
        height: 100%;
        width: 0;

        padding: 30px 0;

        animation: grow-panel 0.75s 1.45s forwards ease-out;
    }

    /* .hero-button-rack {
        flex-direction: column;

        height: 50%;
        width: auto;

        max-height: 50%;
        max-width: 50px;
    } */

    .hero-panel-button:hover {
        transform: translateY(-20%)
    }

    #hero-button-1 {animation-delay: 1.4s;}
    #hero-button-2 {animation-delay: 1.6s;}
    #hero-button-3 {animation-delay: 1.8s;}
    #hero-button-4 {animation-delay: 2s;}

    .hero-logo-big-cont {
        
        height: 8em;

        opacity: 0;
        display: block;

        border: 4px solid var(--bright-bg);

        -webkit-box-shadow: 0 0 0 4px var(--dark-bg);
        box-shadow: 0 0 0 4px var(--dark-bg);

        animation: show-logo 1s 3s forwards ease;
    }

    #hero-logo-big {
        font-size: 6em;
    }

    .hero-logo-small-cont {
        display: none;
    }
    
    .hero-scroll-button:hover {
        animation: scroll-down-button 1s infinite linear;
    }

    #hero-scroll-img {
        height: 4em;

        animation-delay: 3.4s;
    }

    /* gallery */

    .gallery-frame {
        width: 100%;

        flex-grow: 1;
    
        padding: 1%;
    }

    .side-scroll {
        height: 50%;
        width: 5%;
    
        margin: 2.5%;
    
        border: 1px solid red;
    }

    .gallery {
        position: relative;
        
        display: flex;
        align-items: center;
    
        width: 90%;
        height: 100%;
    
        padding: 1px 2rem;
    
        overflow-x: scroll;
        overflow-y: hidden;
    
        border: 1px solid gold;
        border-radius: 10px;
    }


    /* card */

    .card-container {
        min-width: 20%;
        max-height: 95%;
    }


    /* card-front specific */

    .card-front {
        background-color: green;

        transition: 500ms ease;
    }

    .card-content {
        height: 60%;
        width: 100%;

        padding: 1.5em;

        transform: translateY(100%);
    }

    .highlighted .card-content {
        transform: translateY(40%);
    }


    /* animations */

    /* Remove starting blur effect from the Hero title */
    @keyframes unblur-title {
        100% {
            -webkit-filter: blur(0);
        }
    }

    /* Handles the showing of the hero-title section border */
    @keyframes show-border {
        100% {
            border-right: 4px solid var(--bright-bg);
        }
    }

    /* Make the Hero-side-panel gorw */
    @keyframes grow-panel {
        100% {
            flex-grow: 1;

            padding: 30px 30px 0;

            border-left: 4px solid var(--dark-bg);
        }
    }

    /* Makes the scroll-down button float downwards */
    @keyframes scroll-down-button {
        50% {
            transform: translateY(10px);
        }
    }
}

/* ########## LARGE LAPTOP ########## */
@media only screen and (min-width: 1440px) {

    /* generic */
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }


    /* hero section */
    .bracket p {
        font-size: 11em;
    }

    .hero-logo-big-cont {
        height: 10em;
    }

    #hero-logo-big {
        font-size: 7.5em;
    }


    /* animations */

    /* Handles the height-gain of the square brackets */
    @keyframes show-brackets {
        80% {
            height: 12.5em;
        }
        100% {
            height: 12.5em;

            transform: scaleY(1);
        }
    }

    /* Handles the width-gain of the square brackets */
    @keyframes expand-brackets {
        0% {
            width: 0;
        }
        100% {
            width: 72%;
        }
    }
}



/* ############################## */
/* ###### TRANSFORMATIONS ####### */
/* ############################## */

.hoverable:hover {
    transform: translate(0, -1rem);
}

.flipped {
    transform: rotateY(180deg);
}

.flipped-zoomed {
    transform: rotateY(180deg) scale(1.1);
}

.selected {
    overflow-y: visible;

    animation: step-forward 500ms;
    animation-fill-mode: forwards;
}

.unselected {
    animation: step-backwards 500ms;
    animation-fill-mode: forwards;
}

.maximized {
    aspect-ratio: auto;

    min-width: 100%;
    max-width: 100%;

    margin-left: 0 !important;

    animation: maximize 500ms;
}

.minimized {
    min-width: 0;
    max-width: 0;
}

.shadowed {
    -webkit-filter: brightness(60%) blur(0.2rem);
    z-index: -1;
}

.collapsed {
    height: 0;
    width: 0;
}

.no-padding {
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    padding: 0;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}



/* ########## GENERIC ANIMATIONS ########## */

/* Make the "ff" logo grow and appear */
@keyframes show-logo {
    100% {
        opacity: 1;
    }
}

/* Makes each button appear in sequence */
@keyframes show-button {50% {height: 50px; opacity: 0;} 100% {height: 50px; opacity: 1;}}

/* Makes the hero scroll-down button move */
@keyframes animate-scroll {
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    70% {
        opacity: 0;
        transform: translateY(100%);
    }
    71% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Handle the coming-forward of the card when flipped */
@keyframes step-forward {
    50% {
        transform: translate(-3rem, 0);

        z-index: 0;
    }
    100% {
        transform: translate(0, 0);

        z-index: 1;
    }
}

/* Handle the going-backwards of the card when unflipped */
@keyframes step-backwards {
    50% {
        transform: translate(-3rem, 0);

        z-index: 1;
    }
    100% {
        transform: translate(0, 0);

        z-index: 0;
    }
}



/* ########## SCROLLBAR ########## */

/* width */
::-webkit-scrollbar {
    display: none;
  }

/* button */
::-webkit-scrollbar-button {
display : none;
}
  
  /* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
}