/* ############################ */
/* ########## GLOBAL ########## */
/* ############################ */

:root {
    --bright-text: #f3f1e9;
    --button-color: #0066FF;
    --button-hovered-color: #3887fd;
    --button-pressed-color: #044dbb;
    --light-bg-color: #282828;
    --bg-color: #1F1F1F;
    --dark-bg-color: #0f0f0f;
    --header-bg-color: #001230;
    --grey: #a0a0a0;
    --standard-shadow: 0px 12px 4px 1px rgba(0, 0, 0, .3);
    --nav-height: 80px;
    --button-text-size: 18px;
    --small-button-text-size: 15px;
    --icons-size: 24px;
    --small-icons-size: 20px;
    --title-text-size: 30px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p, a, h1, h2, h3 {
    font-family: 'Lato', 'Raleway', 'Ubuntu', 'Sans-serif';
    color: var(--bright-text);
    white-space: nowrap;
}

h1 {
    font-size: 2em;
    font-weight: 100;
    line-height: 0.9em;

    margin: 0;
    padding: 0;
}

.site-font {
    font-family: 'Lato';
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
    box-shadow: none;

	border: none;
	padding: 0;

	font: inherit;
	cursor: pointer;
	outline: none; 
}

.pack-h {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}



/* ############################## */
/* ########## SPECIFIC ########## */
/* ############################## */

/* ########## SECTIONS ########## */

/* hero section */

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 100%;
    width: 100%;
}

#loadvid {
    position: absolute;

    left: 0;
    top: 0;

    z-index: -1;
}

#hero-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 75%;
    max-height: 100%;
    width: 100%;

    border-bottom: 3px solid var(--bright-text);
}

#hero-title-wrapper {
    max-height: 100%;

    margin-top: 20%;
}

.hero-title {
    margin: 10px 0;
}

#name {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

#name:hover #name::after {
    transform: scaleX(1);
}

#expanding-desc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    height: 0px;

    overflow: hidden;

    animation: show-brackets 0.8s 0.2s forwards ease;
}

.bracket p {
    font-size: 8em;
    font-weight: 100;
    line-height: 0.9em;

    transform: translateY(-5%);
}

#expanding-desc {
    width: 0;

    overflow: hidden;

    animation: expand-brackets 1.2s 1s forwards ease-out;
}

.hero-title-div {
    position: relative;

    overflow: hidden;
}

.hero-title-div > video {
    position: absolute;

    width: 100%;
    height: auto;

    /* left: -70px; */
    right: 0;
    top: -70px;

    object-fit: cover;
    z-index: 0;
}

.video-text {
    color: #fff;
    background: #000;

    mix-blend-mode: screen;
}

#underscore {
    visibility: hidden;

    animation: underscore-tick 1s 2s infinite;
}

.hero-side-panel {
    background-color: var(--bright-text);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;

    flex-grow: 0;

    height: auto;
    width: 100%;

    border-top: 3px solid #000;

    animation: grow-panel 0.75s 1s forwards ease-out;
}

.hero-button-rack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;

    height: auto;
    width: 100%;
}

.hero-panel-button {
    border-radius: 50%;

    transition: transform 0.2s ease;
}

.hero-panel-button img {
    max-height: 50px;
    max-width: 50px;
}


/* page container */

.frame {
    height: 100%;
    width: 100%;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

    transition: 0.5s ease-in-out;
}

section {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    scroll-snap-align: start;
}

/* gallery */

.gallery-frame {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: visible;

    border: 1px solid purple;
}

.side-scroll {
    border: 1px solid red;
}

.gallery {
    position: relative;
    
    display: flex;
    align-items: center;

    overflow-x: scroll;
    overflow-y: hidden;

    border: 1px solid gold;
    border-radius: 10px;
}

/* card */

.card-container {
    position: relative;

    aspect-ratio: 0.7 !important;

    -webkit-filter: brightness(1) blur(0);

    border-radius: 4%;
    
    transition: all 250ms ease;
    perspective: 1000px;
    transform-origin: left;
}

.highlighted~.card-container, .selected~.card-container {
    transform:translateX(5rem);
}

.coverable:not(:first-child) {
    margin-left: -5rem;
}

.card {
    position: relative;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    box-shadow: -1rem 0 3rem #000, 1rem 0 3rem #000;

    transition: transform 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    border-radius: inherit;

    overflow-y: hidden;
    backface-visibility: hidden;
}

/* card-front specific */

.card-front {
    background-color: green;

    transition: 500ms ease;
}

.card-content {
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3),
        hsl(0 0% 0% / 1)
    );
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 1px solid green;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    transform-origin: left;
    transition: transform 0.5s ease;

    overflow: hidden;
    z-index: 0;
}

.card-title {
    position: relative;

    width: max-content;
    max-width: 100%;

    margin-bottom: 10%;
}

.card-title::after {
    background: purple;

    content: "";
    position: absolute;

    height: 4px;
    width: 120%;

    left: -20%;
    bottom: 0;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;

    overflow: hidden;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.expand {
    border: 1px solid purple;
}


/* card-back specific */

.card-back {
    background-color: gold;

    justify-content: space-between;

    padding: 2% 3%;

    overflow-y: scroll; 

    transform: rotateY(180deg);
}

.exit {
    background-color: red;

    position: absolute;
    right: 4%;
    top: 5%;

    aspect-ratio: 1 !important;

    transition: all 0.5s ease;

    opacity: 1;
}

.project-title {
    position: relative;

    width: max-content;
    max-width: 100%;

    margin-bottom: 5%;

    border: 1px solid red;
}

.long-desc {
    position: relative;

    width: 100%;

    margin-bottom: 2%;

    border: 1px solid green;
}

.info-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    border: 1px solid blue;
}

.proj-status {
    display: flex;
    flex-direction: column;

    text-align: right;

    width: fit-content;
}



/* ############################## */
/* ########### MEDIA ############ */
/* ############################## */

/* ########## SMALL PHONES ########## */
@media only screen and (max-width: 319px) {

    /* animations */
    @keyframes show-brackets {
        100% {
            height: 8em;
        }
    }
}

/* ########## PHONES ########## */
@media only screen and (min-width: 320px) {

    /* animations */
    @keyframes show-brackets {
        100% {
            height: 8em;
        }
    }
}

/* ########## BIG PHONES ########## */
@media only screen and (min-width: 600px) {

    /* generic */
    h1 {
        font-size: 2.5em;
    }


    /* hero section */
    .bracket p {
        font-size: 10em;
    }

    
    /* animations */
    @keyframes show-brackets {
        100% {
            height: 10em;
        }
    }
}

/* ########## TABLET ########## */
@media only screen and (min-width: 768px) {

    /* generic */
    h1 {
        font-size: 3em;
    }


    /* hero section */
    .bracket p {
        font-size: 12em;
    }


    /* animations */
    @keyframes show-brackets {
        100% {
            height: 12em;
        }
    }
    
}

/* ########## LAPTOP ########## */
@media only screen and (min-width: 1024px) {


    /* hero section */
    #hero-section {
        flex-direction: row;
    }

    #hero-title-container {
        height: 100%;
        width: 66%;

        border-bottom: 0;
        border-right: 4px solid var(--bright-text);
    }

    .hero-side-panel {
        height: 100%;
        width: auto;

        border-top: 0;
        border-left: 4px solid #000;
    }

    .hero-button-rack {
        flex-direction: column;

        height: 50%;
        width: auto;
    }
    

    #hero-title-wrapper {
        margin-top: 10%;
    }

    /* gallery */

    .gallery-frame {
        width: 100%;
        min-height: 90%;
        max-height: 90%;
    
        padding: 1%;
    }

    .side-scroll {
        height: 50%;
        width: 5%;
    
        margin: 2.5%;
    
        border: 1px solid red;
    }

    .gallery {
        position: relative;
        
        display: flex;
        align-items: center;
    
        width: 90%;
        height: 100%;
    
        padding: 1px 2rem;
    
        overflow-x: scroll;
        overflow-y: hidden;
    
        border: 1px solid gold;
        border-radius: 10px;
    }


    /* card */

    .card-container {
        min-width: 20%;
        max-height: 95%;
    }


    /* card-front specific */

    .card-front {
        background-color: green;

        transition: 500ms ease;
    }

    .card-content {
        height: 60%;
        width: 100%;

        padding: 1.5em;

        transform: translateY(100%);
    }

    .highlighted .card-content {
        transform: translateY(40%);
    }
}

/* ########## LARGE LAPTOP ########## */
@media only screen and (min-width: 1440px) {

    /* generic */
    h1 {
        font-size: 4em;
    }


    /* hero section */
    .bracket p {
        font-size: 14em;
    }


    /* animations */
    @keyframes show-brackets {
        100% {
            height: 14em;
        }
    }
}


/* ########## BACKGROUND VIDEO ##########*/
@media (min-aspect-ratio: 16/9) {
    #loadvid {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #loadvid {
        width: auto;
        height: 100%;
    }
}



/* ############################## */
/* ###### TRANSFORMATIONS ####### */
/* ############################## */

.hoverable:hover {
    transform: translate(0, -1rem);
}

.flipped {
    transform: rotateY(180deg);
}

.flipped-zoomed {
    transform: rotateY(180deg) scale(1.1);
}

.selected {
    overflow-y: visible;

    animation: step-forward 500ms;
    animation-fill-mode: forwards;
}

.unselected {
    animation: step-backwards 500ms;
    animation-fill-mode: forwards;
}

.maximized {
    aspect-ratio: auto;

    min-width: 100%;
    max-width: 100%;

    margin-left: 0 !important;

    animation: maximize 500ms;
}

.minimized {
    min-width: 0;
    max-width: 0;
}

.shadowed {
    -webkit-filter: brightness(60%) blur(0.2rem);
    z-index: -1;
}

.collapsed {
    height: 0;
    width: 0;
}

.no-padding {
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    padding: 0;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}



/* ########## ANIMATIONS ########## */

@keyframes step-forward {
    50% {
        transform: translate(-3rem, 0);

        z-index: 0;
    }
    100% {
        transform: translate(0, 0);

        z-index: 1;
    }
}

@keyframes step-backwards {
    50% {
        transform: translate(-3rem, 0);

        z-index: 1;
    }
    100% {
        transform: translate(0, 0);

        z-index: 0;
    }
}

@keyframes expand-brackets {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes grow-panel {
    100% {
        flex-grow: 1;
    }
}

@keyframes underscore-tick {
    from {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}



/* ########## SCROLLBAR ########## */

/* width */
::-webkit-scrollbar {
    display: none;
  }

/* button */
::-webkit-scrollbar-button {
display : none;
}
  
  /* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
}